# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Database
db.sqlite3

# Django stuff
*.log
*.pot
*.py[cod]
*.sqlite3

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db